
sendero_unillanos/campus/migrations/

sendero_unillanos/contacto/migrations/

env/

sendero_unillanos/educacion/migrations/

sendero_unillanos/galeria/migrations/

sendero_unillanos/media/

sendero_unillanos/piedepagina/migrations/

sendero_unillanos/presentacion/migrations/

sendero_unillanos/sendero/migrations/

sendero_unillanos/db.sqlite3
