env/

sendero_unillanos/media/

sendero_unillanos/*/migrations/0*.py

sendero_unillanos/db.sqlite3

.idea/

__pycache__/

sendero_unillanos/sendero_unillanos/db.sqlite3

sendero_unillanos/sendero_unillanos/static/
